<ng-container *ngIf="config">
  <div
    class="user-chat-container cursor-pointer flex w-full gap-x-[14px] items-center p-3 rounded-lg h-full"
    [ngClass]="{ isActive: config.isActive }"
    (click)="config.onClick?.()"
  >
    <div class="flex flex-row justify-content-start align-items-center">
      <p-avatar
        [image]="config.profile"
        class="mr-2"
        size="large"
        shape="circle"
      />
      <div class="flex flex-column gap-1">
        <span *ngIf="config.fullName" class="text-sm text-customColor-dark01">{{
          config.fullName
        }}</span>

        <ng-container *ngIf="config.text as txt">
          <span class="text-sm text-customColor-dark01">{{
            txt.length > 5 ? (txt | slice : 0 : 5) + "..." : txt
          }}</span>
        </ng-container>
      </div>
    </div>
  </div>
</ng-container>
